/*
    %- margin, width
    rem- font-size, spacing
    px- icons, border
*/

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eed3b8;
    color: #39322c;
    font-family: monospace;
    letter-spacing: 0.15rem;
}

body a {
    color: #39322c;
}

body input {
    border-radius: 3px;
}


/* HEADER STYLING */
header {
    padding: 1.6rem 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50%;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130%;
}

header nav i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header nav .fa-bars {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

header nav ul li a {
    text-decoration: none;
    padding-bottom: 3rem;
}

header nav ul li a:hover {
    padding-bottom: 3rem;
    text-decoration: 3.8px solid underline;
}


/* MAIN STYLING */
/* SECTION ONE STYLING */
#one {
    margin: 0.5% 0 8%;
}

#one img {
    width: 100%;
    height: 60rem;
}

/* SECTION TWO STYLING */
#two {
    margin: 0 auto 16%;
    text-align: center;
    width: 100%;
}

#two h1 {
    font-size: 4rem;
    width: 50%;
    text-align: center;
    margin: 0 auto 1%;
}

#two p {
    font-size: 1.4rem;
    width: 54%;
    margin: 0 auto 3.5%;
    text-align: center;
    line-height: 2.2rem;
}

#two h2 {
    margin: 2.5% auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
}

#two input {
    background-color: transparent;
    border: 2px solid #39322c;
    padding: 1.65rem 2.45rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #39322c;
}

#two input:hover, #three input:hover, #five input:hover {
    cursor: pointer;
    background-color: #39322c;
    color: #eed3b8;
}

#two .two-btn {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SECTION THREE STYLING */
#three {
    margin: 0 auto 10%;
    text-align: center;
}

#three h1 {
    font-size: 4rem;
    margin: 2%;
}

#three p {
    width: 55%;
    margin: 0 auto 3%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}

#three input {
    background-color: transparent;
    border: 2px solid #39322c;
    padding: 1.8rem 2.45rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #39322c;
    letter-spacing: 0.1rem;
}

#three img {
    width: 100%;
    margin-top: 6%;
    height: 50rem;
}


/* SECTION FOUR STYLING */
#four {
    margin: 17% 0 15%;
}

#four h1 {
    text-align: center;
    font-size: 4rem;
}

#four .four-main-img {
    width: 95%;
    margin: 4% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#four .four-main-img img {
    width: 96%;
    border-radius: 3px;
}

#four .four-a {
    display: flex;
}

#four .four-b {
    display: flex;
}

#four .four-a div, #four .four-b div {
    margin-bottom: 1%;
}

#four .four-a h3, #four .four-b h3 {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0rem;
    margin: 3.5% auto;
}


/* SECTION FIVE STYLING */
#five {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 5rem;
    letter-spacing: 0rem;
}

#five h1 {
    font-size: 4rem;
}

#in {
    margin-top: 15%;
    font-size: 2rem;
}

#five input {
    margin: 6% auto;
    background-color: transparent;
    border: 2px solid #39322c;
    padding: 1.8rem 2.45rem;
    font-size: 1.26rem;
    font-weight: 700;
    color: #39322c;
    letter-spacing: 0.1rem;
}


/* SECTION SIX STYLING */
#six {
    display: block;
    margin: 5% auto;
}

.img-slide {
    width: 100%;
    margin: 0 auto;
    display: none;
}

#six img {
    height: 85%;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* FOOTER STYLING */
footer {
    margin: 1% 0 0;
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
}

#f-1 img {
    width: 50%;
}

footer a {
    text-decoration: none;
}

footer h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin: 0 0 8% 0;
}

footer .deco {
    background-color: #39322c;
    height: 0.3rem;
}

footer .a {
    width: 55%;
    margin: -6% 0 13% 0;
}

footer .b {
    width: 40%;
    margin: -6% 0 12% 0;
    height: 0.2rem;
}

footer .c {
    width: 65%;
    margin: -5% 0 12% 0;
}

footer p {
    letter-spacing: 0.1rem;
    font-size: 1.13rem;
    margin-bottom: 8%;
}

#f-2, #f-3, #f-4 {
    width: 37%;
}
